.account {
  height: 7vh;
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}
.socials {
  display: flex;
  gap: 24px;
  font-size: 2.5rem;
  margin-bottom: 28px;
  z-index: 2;
}

.socials a {
  color: #d9d9d9;
  transition: 0.3s;
}
.socials a:hover {
  color: white;
  transform: translateY(-4px);
}

.scrollDiv {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollIcon {
  width: 25px;
  height: 25px;
  color: grey;
}
@media (max-width: 768px) {
  .scrollDiv {
    display: none;
  }
}
@media (max-width: 500px) {
  .githubIcon,
  .gmailIcon {
    height: 60%;
    width: 30px;
  }
  .scrollIcon {
    width: 25px;
    height: 25px;
  }
}
