.menuWrapper {
  position: relative;
  height: 9vh;
  display: flex;
  align-items: center;
  z-index: 10000;
  display: none;
}

.menuBtn {
  margin-left: 10px;
  width: 42px;
  height: 42px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.05);
  /* border: 1px solid rgba(124, 58, 237, 0.25); */
  background-color: transparent;
  transition: 0.3s;
}

.menuBtn:hover {
  cursor: pointer;
}

.menuBtn:active {
  transform: scale(0.95);
}
.menuItem {
  text-decoration: none;
  background: linear-gradient(
    90deg,
    #8b5cf6 0%,
    #7c3aed 30%,
    #6366f1 65%,
    #3b82f6 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.icon {
  font-size: 30px;
  color: #8b5cf6;
}
/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 9998;
}

.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  max-width: 85vw;
  height: 100vh;
  padding: 153px 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: #060612;
  backdrop-filter: blur(25px);
  border-left: 1px solid rgba(255, 255, 255, 0.08);
  z-index: 9999;
}
.mobileMenu h3 {
  background: linear-gradient(
    90deg,
    #8b5cf6 0%,
    #7c3aed 30%,
    #6366f1 65%,
    #3b82f6 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}
.mobileMenu h3:hover {
  transform: translateX(10px);
  background: linear-gradient(90deg, #8b5cf6, #7c3aed, #6366f1, #3b82f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media (max-width: 768px) {
  .menuWrapper {
    display: flex;
  }
}
